*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.debug{
    background-color: aquamarine;
    border: 1px dotted black;
}

.bottom{
    align-self: flex-end;
}

.center{
    align-self: center;
}

.wrap{
    flex-wrap: wrap;
}

.space{
    justify-content: space-between;
}

.dflex{
    display: flex;
}

/* main */

main{
    height: calc(100vh - 80px);
    background-color: #141922;
    color: white;
}

.topbar{
    height: 70px;
    background-color: #080b12;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.8;
    z-index: 99;
    position: sticky;
}

.topbar a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 30px;
    margin-right: 10px;
}

.topbar a:hover{
    font-size: 1.1rem;
}

.container{
    height: 100%;
}

/* /main */

/* sidebar */

aside{
    background-color: black;
    color: #717171;
    height: 100%;
    width: 200px;
}

.side1{
    height: calc(100% - 100px);
}

.plus{
    color: #717171;
}

.plus i{
    color: black;
    background-color: white;
    padding: 5px;
}

aside .logo{
    max-width: 60%;
}

.logo img{
    padding: 10px;
}

aside nav{
    padding: 10px 10px;
}

#icons li img{
    max-width: 15%;
}

aside p{
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.installa{
    justify-content: center;
    width: 100%;
    height: 100px;
    padding-bottom: 5px;
}

.download{
    border-bottom: 1px solid #717171;
    margin-top: 40px;
}

.installa .download span::before{
    content: '\f0ab';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.simo span::before{
    content: '\f504';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.playlist-box{
    height: calc(100% - 160px);
    line-height: 40px;
}

.playlist{
    height: calc(100% - 40px);
    line-height: 35px;
    overflow: auto;
}

/* /sidebar */


/* cards */

.contenuto{
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;
}

.scelte{
    width: 100%;
    justify-content: space-around;
}

.scelte nav li{
    color: #7d7f84;
    text-transform: uppercase;
    padding: 10px;
    list-style: none;
    display: inline-block;
}



h2{
    margin: 20px 10px;
}

/* /cards */

.row{
    width: 100%;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 6);
    padding: 10px;
}

.album{
    position: relative;
}

.card img{
    width: 100%;
}

.didascalia{
    text-align: center;
}

p{
    color: #717171;
}

.tonda{
    border-radius: 50%;
}

div span i{
    position: absolute;
}

/* /cards */

/* footer */

footer{
    height: 80px;
    background-color: #282828;
}

.footercont{
    max-width: 100%;
    align-self: center;
}

.brano{
    align-items: center;
}

.albumcover{
    width: 60px;
    margin-left: 5px;
}

.albumcover img{
    width: 100%;
}

.descrizione{
    margin-left: 5px;
}

.descrizione span{
    color: white;
    font-weight: bold;
}

.folder{
    margin-left: 10px;
    color: #717171;
    padding: 5px;
}

.buttons{
    color: white;
    padding: 0 20px;
}

.player .buttons{
    text-align: center;
    font-size: 20px;
}

.player a{
    color: white;
}

.player{
    margin-top: 5px;
    flex-grow: 1;
    justify-content: center;
}

.progressbar{
    margin: 0 auto;
    width: 40%;
    height: 5px;
    background-color: #717171;
    border-radius: 30px;
    position: relative;
}

.mediumbar{
    height: 100%;
    width: 155px;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 30px;
}

.puntino i{
    color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.0;
}

.volumebar{
    width: 120px;
    height: 5px;
    background-color: #717171;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.volumebar div{
    width: 50px;
    height: 100%;
    border-radius: 30px;
    background-color: lightgray;
}

/* /footer */

/* hover */

.playlist ul li:hover{
    color: white;
    cursor: pointer;
}

.plus:hover{
    color: white;
    cursor: pointer;
}

.scelte nav li:hover{
    color: white;
    cursor: pointer;
}

.scelte nav li:first-child:hover{
    border-bottom: 2px solid #adff2f;
    cursor: pointer;
}

.installa .download span:hover{
    color: white;
    cursor: pointer;
}

.descrizione p:hover{
    color: white;
    cursor: pointer;
}

.folder i:hover{
    cursor: pointer;
    color: white;
}

.album img:hover{
    opacity: 0.3;
}

.album:hover::before{
    content: '\f144';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: white;
}

.puntino i:hover{
    opacity: 1;
}

/* /hover */


/* media */

@media screen and (min-width: 700px){
   .card{
    width: calc(100% / 2);
   }
}


@media screen and (min-width: 900px) {
    .card{
        width: calc(100% / 4);
    }
}


@media screen and (min-width: 1000px){
    .card{
        width: calc(100% / 6);
    }
}